# Ignore virtual environment
venv/

# Ignore Python cache and environment files
__pycache__/
*.py[cod]
*.env
*.DS_Store
*.log

# Ignore system files
*.swp
Thumbs.db

# Ignore Jupyter and Streamlit specific files
.ipynb_checkpoints/
.streamlit/secrets.toml
